
.page-container {
    background: url('https://www.sena.edu.co/es-co/Noticias/NoticiasImg/bici_31032022.jpg') center/cover no-repeat;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
  }
  
  .form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .form-container input {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    width: 100%;
    padding: 0.8rem;
    background-color: #008037;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .submit-button:hover {
    background-color: #006c2b;
  }
  
  .highlight-link:hover {
    color: #0056b3;
  }
  
  .sena-logo {
    margin-top: 2rem;
    width: 100px;
    height: auto;
  }
  


.register-page {
    background: url('https://www.sena.edu.co/es-co/Noticias/NoticiasImg/bici_31032022.jpg') center/cover no-repeat;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px); 
  }
  
  .register-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .register-form input {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .register-button {
    width: 100%;
    padding: 0.8rem;
    background-color: #008037;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .register-button:hover {
    background-color: #006c2b; 
  }
  
  .highlight-link:hover {
    color: #0056b3; 
  }
  
  .sena-logo {
    margin-top: 2rem;
    width: 100px;
    height: auto;
  }
  